var valIf = function(condition, value) {
	return condition ? value : undefined;
};

var valOr = function(value, defaultValue) {
	return (value !== null && value !== undefined) ? value : defaultValue;
};

var arrIsLast = function(array, index) {
	return index === array.length - 1;
};

module.exports = {
	valIf: valIf,
	valOr: valOr,
	arrIsLast: arrIsLast
};