var getParticipant = function(_this, index) {
	return _this && _this.participants ?
		_this.participants[_this.participants.keys[index].toString()] :
		null;
};

var getParticipantName = function(_this, index) {
	var p = getParticipant(_this, index);
	return p ? (p.player.nick ? '【' + p.player.nick + '】' : p.player.name) : null;
};

var getParticipantNameById = function(_this, id) {
	var p = _this ? _this.participants[id.toString()] : null;
	return p ? (p.player.nick ? '【' + p.player.nick + '】' : p.player.name) : null;
};

module.exports = {
	getParticipant: getParticipant,
	getParticipantName: getParticipantName,
	getParticipantNameById: getParticipantNameById
};